<% include partials2/header %>
<h1 style="text-align:center">This is the login!! page</h1>
<form action="/login" method="post">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <button>Submit</button>
</form>
<% include partials2/footer %>
